<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Veterinary Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="cover.css" rel="stylesheet">
</head>
<body class="text-center" style="background-color: silver">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h1 class="masthead-brand">Veterinary Application</h1>
      <nav class="nav nav-masthead justify-content-center">


      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h3 class="cover-heading" >Sistem üzerinde iki tür kullanıcı yetkisi vardır. / There are two types of user authority on the system.</h3>
    <div class="card">
      <div class="card-header">

      </div>
      <div class="card-body">
        <h6 >User Kullanıcı sistemde neler yapabilir? / User what can the user do in system? </h6>
        <p class="card-text">•Sisteme üye olabilir ve sonrasında giriş yapabilir.
          •	Sisteme hayvan sahibi ve hayvan ekleme,  güncelleme gibi işlemleri yapabilir.
          •	Hayvan adı veya hayvan sahibi adı ile arama yapabilir ve kayıtları görüntüleyebilir.
          •	Sisteme kayıtlı hayvan sahibi sayısını ve hayvan sayısını görebilir.</p>
        <p class="card-text">•He/she can become a member of the system and then log in.
          •	He/she can carry out operations such as owner and adding animals to the system, updating them.
          •	He/she can search by animal name or owner name and view records.
          •	He/she can see the number of animal owners and the number of animals registered in the system</p>


        <h6>Admin kullanıcı sistemde neler yapabilir ? / What can the admin user do in the system? </h6>
        <p class="card-text">User kullanıcının tüm yetkilerine sahiptir. Ancak sistemde silme rolü sadece admin kullanıcısına verilmiştir. </p>
        <p class="card-text">Admin user has all privileges of the user. However, the delete role in the system is given only to the admin user.</p>
       <p class="card-text">Kullanılan teknolojiler: Spring Boot + Spring MVC + Spring Security + JPA/Hibernate + MySQL + Maven + HTML + Thymeleaf</p>
        <p class="card-text">Used technologies: Spring Boot + Spring MVC + Spring Security + JPA/Hibernate + MySQL + Maven + HTML + Thymeleaf</p>

      </div>


    </div>
      <a href="register" class="btn btn-lg btn-secondary">Register</a>
      <a href="/login" class="btn btn-lg btn-secondary">Login</a>

    </p>
  </main>


  </footer>
</div>



</body>
</html>

